/* Ensure the page takes up the full viewport */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.full-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: url('./vipin.png') no-repeat center center fixed;
    background-size: cover;
}

.content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}
.whatsapp-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: green;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 255, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.whatsapp-btn i {
    margin-right: 10px;
    color: white;
}

.whatsapp-btn a {
    color: white;
    text-decoration: none;
}

.whatsapp-btn:hover {
    background-color: white;
    color: green;
    box-shadow: 0 4px 20px rgba(0, 255, 0, 0.8);
}

.whatsapp-btn a:hover {
    color: green;
}


.header h1 {
    padding-top: 40%;
    font-size: 1.6rem;
    margin: 10px 0;
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.8);
}

.header h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    margin: 15px 0;
    padding: 15px 25px;
    border: 2px solid orange;
    border-radius: 50px;
    background: transparent;
    text-decoration: none;
    color: orange;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;
    box-shadow: 0 0 10px orange;
    animation: glow 0.5s infinite alternate;
}

.btn:hover {
    background: orange;
    color: black;
    box-shadow: 0 0 20px orange;
}

/* Timer and Match Info */
.timer p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
}

.match-info p {
    margin: 5px 0;
    font-size: 1.1rem;
}

/* Glowing Animation */
@keyframes glow {
    0% {
        box-shadow: 0 0 10px orange;
    }
    100% {
        box-shadow: 0 0 20px orange, 0 0 40px orange, 0 0 60px orange;
    }
}
